//page titles
.page .entry-title,
.page-title {
  //
}

.page-title {
  margin: $small-spacing 0 0;
		@media #{$tablet-up} {
      @include font-size(3);
    }
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#content-wrapper {
  position:relative;
}

#content {
  @include pad;
  article {
    padding-bottom:0;
    margin-bottom:0;
  }
}

@import 'banner';
@import 'gallery';
@import 'product-details';
@import 'overview-head';
@import 'slider';

body.page-template-product-template:not(.page-builder) {
  #primary {
    @media #{$tablet-up} {
      max-width:60%;
      flex-basis:60%;
      width:60%;
    }
  }
}

#quote {
  a {
    text-align:center;
    padding: $base-spacing * 1.5 $base-spacing;
    text-align:center;
    font-weight:900;
    font-family:$hardware;
    width:100%;
    display:block;
    font-size:1.5rem;
    @media #{$mobile} {
      font-size:1.3rem;
    }
  }
}

.overflow-content {
  display:none;
}

.page-template-product-template .entry-content > p:last-of-type {
  display:inline;
}

#product-details:focus {
  outline:none;
}

.read-more {
  &:not(:first-of-type) {
    display:none;
  }
  span {
    font-size:.5rem;
    margin-left:3px;
    position:relative;
    bottom:1px;
    vertical-align:middle;
    transform:scaleX(1.2) rotate(0);
    display:inline-block;
  }
  display:inline;
  padding-left:5px;
  font-size:.95rem;
  text-transform:uppercase;
  font-weight:900;
  &.opened {
    span {
      transform:rotate(180deg) scaleX(1.2);
    }
  }
}

.page-template-product-template {
  @media #{$tablet} {
    #content {
      padding-top:40px;
    }
  }
}

@import 'home';
